body{ 
background-color:black;
color:white;
font-family: cursive; align-items: center;
margin: 20px;


}
button {
    transition:all 0.3s ease;

  background-color: green
  color: white;
  border: aqua;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
button:hover {
  background-color: darkgreen;
    transform:translateY(-5px);
}
